.navbar-nav {
  background-color: transparent;
  display: flex;
  justify-content: center;
}

.nav-link {
  color: white !important;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 1rem !important;
  background-color: transparent;
}
.nav-link:hover {
  color: black !important;
  background-color: rgb(47, 127, 151);
}
